body{
    background-color: #95c8d8;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.main{
    margin: 200px auto;
    align-items: center;
   
    padding: 20px;
    background-color:#131e3a;
    color: white;
	width: 30%;
	border-radius: 20px;
    text-align: center;
}
.header{
    border: white;
	text-align: center;
}
.content{
    border: white;
}
.buttom{
    display: ruby-base-container;
    padding: auto;
}
button:hover{
    background-color: rgb(8, 102, 102);
    color: rgb(0, 0, 0);
    transform:scale(1.1,1.1);
    font-size: medium;
}
